/* Estilo para o container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo para cada mapa e seu título */
.map-container {
  display: flex;
  margin: 10px 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
}

.map-title {
  font-weight: bold;
}

/* Estilo para as linhas de células do mapa */
.linha {
  display: flex;
  flex-direction: column;
}

/* Estilo para cada célula no mapa */
.mapItem {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 1px;
  background-color: #fff;
}

.mapItem--numeric {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 1px;
}

.mapItem--numeric.mapItem--water {
  background-color: #00BFFF;
}

.mapItem--numeric.mapItem--land {
  background-color: #b1622a;
}

.mapItem--numeric.mapItem--treasure {
  background-color: #f7bf07;
}

.mapItem--numeric.mapItem--pirate {
  background-color: #f70707;
}

/* Estilo específico para as diferentes células */
.mapItem--water {
  background-color: #00BFFF;
}

.mapItem--land {
  background-color: #b1622a;
}

.mapItem--treasure {
  background-color: #f7bf07;
}

.mapItem--pirate {
  background-color: #f70707;
}
