.mapItem--water {
    background-color: #00BFFF;
}

.mapItem--land {
    background-color: #b1622a;
}

.mapItem--treasure {
    background-color: #f7bf07;
}

.mapItem--pirate {
    background-color: #f70707;
}