/* Estilo para cada célula no mapa */
.mapItem {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 1px;
  background-color: #fff;
}

.mapItem--water {
    background-color: #00BFFF;
}

.mapItem--land {
    background-color: #b1622a;
}

.mapItem--treasure {
    background-color: #f7bf07;
    cursor: pointer;
    animation: tesouro-piscando 0.5s infinite alternate running;
}

.mapItem--treasure:hover {
  transform: scale(1.7);
  animation: none;
}

.mapItem--pirate {
    background-color: #f70707;
    cursor: pointer;
    animation: tesouro-piscando 0.5s infinite alternate running;
}

.mapItem--pirate:hover {
  transform: scale(1.7);
  animation: none;
}


.treasure--selected{
  transform: scale(1.7);
  animation: none;
}

.treasure--not-selected{
  transform: scale(1);
  animation: none;
  cursor: default;
}

.treasure--not-selected:hover{
  transform: scale(1);
  animation: none;
}

@keyframes tesouro-piscando {
  0% {transform: scale(1)}
  33% {transform: scale(1.3)}
  66% {transform: scale(1.5)}
  100% {transform: scale(1.7)}
}